# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea/
.project
.secrets
.vscode/

# Tooling
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Web related
doc/api/
build/web/

# Symbol maps
*.jmsp

# Avoid uploading private credentials
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.properties
android/key.properties
*.env
*.env.*
